.selectable-grid-container{
  margin: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.selectable-grid {
  margin: 60px;
  height: 20rem;
  width: 20rem;
  border: 2px solid gray;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}

.selectable-grid-cell{
  border: 0.5px solid lightgray;
}

.selected-cell{
  background-color: dodgerblue;
}